/* Styles pour le formulaire */
.form-container {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.form-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 10 0 20 0;
}

.combo-box, .date-picker {
    -fx-font-size: 14px;
    -fx-padding: 5;
}

/* Boutons */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-height: 40px;
    -fx-pref-width: 300px;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9;
}

/* Images des terrains */
.image-box {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
    -fx-padding: 10;
}

.image-description {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-padding: 5 0 0 0;
}
